<%- include('lout/head') %>
<%- include('lout/nav') %>
<div class="container">
<h1>500</h1>
<h3>nothing broken<br>that's all we know</h3>
<h3><a href="https://blog.zlcython.top/">home page?</a></h3>
</div>
<%- include('lout/jss') %>